
.nav-pills{
  font-family:Lobster;
  font-size: 2.0em;
   background-color:black;
    padding-bottom:12%;
}

.card{
   text-align:center;
   margin:auto;
}

body{
   font-family:Arial;
   background:no-repeat center fixed;
   -webkit-background-size: cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   background-color:black;
}
.spacer{
   padding:5%;
}

img{
   border-radius:10%;
   width:300px;
   height:300px;
   box-shadow: 10px 10px 10px black;
}

.btn{
   box-shadow: 5px 5px 5px black;
}
.block{
   background:rgba(0,0,0, .8);
      color:white;
      padding:50px;
      width:75%;
      margin-right:auto;
      margin-left:auto;
      border-radius:15px;

}

.block2{
   background:rgba(0,0,0, .8);
      color:white;
      padding:50px;
      width:37.5%;
      margin-right:auto;
      margin-left:auto;
      border-radius:15px;
      padding-bottom:2%;
}
p{
   text-align:justify;
   text-indent:40px;
   font-size:20px;
}
